@charset "UTF-8";

/*section, article, header, h1, h2, p, div {
    border: solid rgba(0, 0, 0, 0.411) 2px;
}*/

.auto-width, .sec-side, header{
    position: relative;
}

body
{
    margin: 0px;
}

/**************************************************
*******************   LAYER 0   *******************
**************************************************/

/*  Configurações da base do layout para que sirvam
    como referência aos demais contidos nesta.
 */

.auto-width{
    width: 80%;
    max-width: 1250px;
    margin: auto;
}
article > header, footer
{
    margin: 20px auto;
    text-align: center;
}
.sec-full-flex
{
    margin: 20px auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.sec-side
{
    min-width: 300px;
    min-height: 300px;
    width: 40%;
    padding: 20px;
    margin: 30px auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/**************************************************
*******************   LAYER 1   *******************
**************************************************/

.varal
{
    width: 33%;
    min-width: 180px;
    max-width: 200px;
    margin: 0px 2%;
    padding: 10px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.abs-center
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#wraper
{
    overflow: hidden;
}
#slider
{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1250px;
}

/**************************************************
*******************   LAYER 2   *******************
**************************************************/

/*  Aqui é tratado o layout do conteúdo especificamente*/

#info > .sec-full-flex > .sec-side
{
    flex-direction: row;
    flex-wrap: wrap;
}

.sec-side > div
{
    width: 40%;
    min-width: 200px;
    margin: auto;
}

/*  MEDIA  */
#banner
{
    width: 100%;
}
#logo
{
    width: 26%;
}

.img-side{
    vertical-align: top;
    margin:5px;
}
.varal > img
{
    width: 90%;
}
.video
{
    width: 90%;
    height: 90%;
    max-width: 400px;
    max-height: 230px;
}

/*  TXTs  */
h1
{
    text-align: center;
    width: fit-content;
    margin: 60px auto 20px auto;
    padding: 40px 60px;
}
.sec-side > h2
{
    width: 100%;
}
header > p
{
    max-width: 500px;
    margin: auto;
    padding: 10px 0px;
}
.sec-side > p, .sec-side > div > p
{
    font-family: var(--font-paragraph);
    color: var(--color-spray-paragraph);
    text-align: justify;
    height:auto;
}
