@charset "UTF-8";

/**/

:root{
    --sec-side-minW: 300px;
    --sec-side-minH: 400px;
    --sec-side-w: 49%;

    --sec-vertical-minW: 200px;
    --sec-vertical-maxW: 250px;
    --sec-vertical-h: 320px;
    --slider-h: 380px;
    --slider-minW: 700px;
}
body
{
    background-color: antiquewhite;
    margin: 0px;
    /*background-image: url("../images/background.png");*/
}
header
{
    position: relative;
    width: 100%;
}
main
{
    /*background-color: rgb(175, 182, 187);*/
    max-width: 1250px;
    width: 80%;
    margin: auto;
    padding-top: 20px;
}

/**/

.sec-full
{
    /*background-color: rgb(126, 126, 126);*/
    text-align: center;
    width: 98%;
    margin: auto;
}
.sec-side
{
    /*background-color: rgb(200, 200, 200);*/
    display: inline-block;

    width: 100%;
    min-width: var(--sec-side-minW);
    min-height: var(--sec-side-minH);
    width: var(--sec-side-w);
    height: fit-content;
    vertical-align: top;
}
.content-vertical
{
    /*background-color: rgb(231, 226, 226);*/
    width: 30%;
    margin: 5px 0px;
    padding-bottom: 50px;

    min-width: var(--sec-vertical-minW);
    max-width: var(--sec-vertical-maxW);
    min-height: var(--sec-vertical-h);

    display: inline-block;
    vertical-align: top;
}
.abs-center
{
    /*background-color: rgb(240, 240, 240);*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

/**/

.sec-full, .sec-side, .content-vertical, header
{
    position: relative;
}
.sec-side > .abs-center
{
    background-color: rgb(233, 224, 224);
    width: 90%;
    min-height: 80%;
    height: fit-content;
}
#info > .sec-full > .sec-side > .abs-center{
    padding-bottom: 20px;
}
.content-vertical > .abs-center
{
    height: 100%;
    min-width: var(--sec-vertical-minW);
    width: 80%;
}
.content-horizontal > .abs-center {
    width: 90%;

}
