@charset "UTF-8";

body
{
    background-color: antiquewhite;
    margin: 0px;
    /*background-image: url("../images/background.png");*/
}
header
{
    position: relative;
    width: 100%;
}
main
{
    /*background-image: linear-gradient(to right, rgb(211, 224, 228), rgb(221, 237, 238));*/
    max-width: 1250px;
    margin: auto;
    padding-top: 20px;
}

.title
{
    /*background-color: rgb(160, 160, 160);*/
    text-align: center;
    width: fit-content;
    margin: 20px auto 20px auto;
    padding: 40px 60px;
    /*background-image: url("../images/body/bg-h1.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;*/
}
.sec-full
{
    /*background-color: rgb(180, 180, 180);*/
    text-align: center;
    width: 98%;
    margin: auto;
}
.sec-side
{
    /*background-color: rgb(200, 200, 200);*/
    display: inline-block;

    width: 49%;
    min-width: 450px;
    min-height: 360px;
    vertical-align: top;
}
.sec-full, .sec-side, .content-vertical, header
{
    position: relative;
}
.content-vertical
{
    /*background-color: rgb(220, 220, 220);*/
    width: 30%;
    margin: 5px 0px;
    padding-bottom: 50px;

    min-width: 300px;
    min-height: 400px;

    display: inline-block;
    vertical-align: top;
}
.abs-center
{
    /*background-color: rgb(240, 240, 240);*/
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

/*********************Other***************************/
.content-vertical > .abs-center
{
    height: 100%;
}
.content-horizontal > .abs-center {
    width: 90%;

}
/*********************Media**************************/
#banner
{
    width: 100%;
}
#logo
{
    position: absolute;
    width: 26%;
}
.content-horizontal > img
{
    /*background-color: aliceblue;*/
    display: inline-block;
    vertical-align: top;
    margin:5px;
}
.video-bg
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#video-mask
{
    z-index: 1;
    pointer-events: none;
}
.video
{
    width: 84%;
    height: 80%;
    max-width: 400px;
    max-height: 230px;
}
/*********************TXTs**************************/
h2
{
    padding-top: 10px;
}
.sec-side > .abs-center > h2
{
    width: fit-content;
    margin: 0px auto 20px auto;
    padding: 20px 40px;
    /*background-image: url("../images/body/bg-h2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;*/
}

/******Paragraph*******/
p
{
    font-size: 18px;
}
.sec-full > p
{
    min-width: 400px;
    width: 40%;
    margin: auto;
    padding: 10px 0px;
}
.sec-side > .abs-center > p
{
    /*background-color: yellow;*/
    min-width: 300px;
    width: 75%;
    margin: auto;
    /*color: white;*/
}
.content-vertical > .abs-center > p
{
    margin: 5px auto;
    width: 50%;
}
.content-horizontal > .abs-center > p 
{
    /*background-color: antiquewhite;*/
    display: inline-block;
    vertical-align: top;
    width: 40%;
    margin:5px;
}